.divider {
  height: 5rem;
}

.divider-horizontal {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 2px 0 2px 0;
  width: 100%;
}

@media (max-width: 1800px) {
  .divider {
    height: 0.5rem;
  }
}