/* Custom CSS */

/* Base */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--white);
  font-family: "heebo", serif;
  color: var(--black);
  overflow-x: hidden;
}

/* Header */
.header {
  height: 100vh;
}

.header__background-wrapper {
  width: 100%;
  height: 100%;
}

.header__background__img {
  background: url("./img/hero.png") center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff1c1;
  width: 100%;
  height: 90%;
}

.header__background__text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  height: 100px;
  padding: 0.5rem;
  padding-left: 10%;
  padding-right: 10%;
}

.header__background__text__1st {
  width: 15%;
}

.header__background__text__2nd {
  width: 70%;
  font-family: "oswald";
  font-size: 4rem;
  font-stretch: expanded;
  color: var(--bright-red);
  text-align: center;
}

.header__background__text__3rd {
  width: 15%;
  color: var(--white);
  font-family: "oswald";
  font-size: 2rem;
  text-align: center;
}

/* Container */
.container {
  max-width: 100rem !important;
  margin: 0px auto !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

/* Diary */
.diary {
  overflow-y: hidden;
}

.diary-input {
  overflow-y: auto;
  width: 90%;
  margin-top: 10px;
  border: 1px solid black;
  height: 30rem;
  padding: 10px;
}

.diary-entry {
  text-align: justify;
  margin: 5px;
}

.diary-entry .date {
  color: var(--light-grey);
  margin-bottom: 5px;
}

.newest {
  background-color: #fff1c1;
}

/* Footer */
.footer {
  background-color: var(--dark-grey);
  padding-top: 10px;
}

.img-icon-2 {
  height: 100px;
  width: 100px;
  background: url("./img/icons/ume_icon_wh_1.png");
}

.link-gift {
  text-decoration: underline;
}

/* Headlines */
h1 {
  font-family: "oswald";
  font-size: 5rem;
}

h2 {
  font-family: "oswald";
  font-size: 3rem;
}

h3 {
  font-family: "oswald";
  font-size: 1.5rem !important;
  color: var(--blue);
}

p {
  font-family: "heebo";
  font-size: 1.375rem;
}

/* Icons */
i {
  font-size: 2.5rem;
}

.fa-nft::before {
  content: url("./img/social/nft_icon_wh_1.png");
}

.insta i {
  font-size: 4rem;
  color: black;
}

.youtube i {
  font-size: 4rem;
  color: black;
}

/* Links */
.footer-info {
  font-family: "oswald";
  font-size: 30px;
  text-decoration: none;
  transition: 0.3s;
  color: var(--light-grey);
  margin: 0 5px 1rem 1rem;
}

/* Button */
.btn {
  font-family: "oswald";
  font-size: 2.25rem;
}

.btn__yellow {
  border-color: var(--yellow);
  color: var(--yellow);
}

.btn__black {
  border-color: var(--black);
}

.btn-insta {
  margin-top: 0 !important;
}

/* News */
.news-img {
  width: 50%;
}

.news__img_0 {
  width: 100%;
  height: 100%;
  background: url("./img/news/news_0.jpg") center no-repeat;
  background-size: contain;
}

.news__img_1 {
  width: 100%;
  height: 100%;
  background: url("./img/news/news_1.png") center no-repeat;
  background-size: contain;
}

.news__img_2 {
  width: 100%;
  height: 100%;
  background: url("./img/news/news_2.png") center no-repeat;
  background-size: contain;
}

.news__img_3 {
  width: 100%;
  height: 100%;
  background: url("./img/news/news_3.png") center no-repeat;
  background-size: contain;
}

.img-right {
  padding-left: auto;
  padding-right: 0;
}

.right-sided {
  margin-left: 5rem;
}

.left-sided {
  margin-right: 5rem;
}

.news__content__date {
  color: var(--light-grey);
}

.news__content__text {
  text-align: justify;
  font-size: 1.875rem;
}

.news-bold {
  font-family: "heebo-bold";
  font-weight: 700;
  font-size: 2rem;
}

.music_note {
  background: url("./img/icons/note.png");
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  display: inline-block;
}

/* Youtube */
.iframe__youtube {
  width: 100%;
  height: 24rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.iframe {
  height: 100%;
  max-width: 100%;
}

/* Media Queries */
@media (max-width: 1800px) {
  .container {
    max-width: 80rem !important;
  }

  .header__background__text {
    height: 75px;
  }

  .header__background__text__2nd {
    font-size: 3rem;
  }

  .header__background__text__3rd {
    font-size: 1.5rem;
  }
}

@media (max-width: 1460px) {
  .header {
    height: 85vh;
  }

  .container {
    max-width: 70rem !important;
  }
}

@media (max-width: 1280px) {
  .header {
    height: 50vh;
  }

  .header__background__text {
    height: 65px;
  }

  .header__background__text__2nd {
    font-size: 2rem;
  }

  .header__background__text__3rd {
    font-size: 1.2rem;
  }

  .btn {
    font-size: 2rem;
  }

  .news-bold {
    font-size: 1.75rem;
  }
}

@media (max-width: 1023px) {
  .img-icon-2 {
    height: 80px;
    width: 80px;
  }

  i {
    font-size: 2rem;
  }

  .youtube i {
    font-size: 3rem;
  }

  .insta i {
    font-size: 3rem;
  }

  .btn {
    font-size: 1.5rem;
  }

  .iframe__youtube {
    height: 18rem;
  }

  .footer-info {
    font-size: 24px;
  }

  p {
    font-size: 1rem;
  }

  .news-bold {
    font-size: 1.5rem;
  }
}

@media (max-width: 825px) {
  .header__background__text {
    height: 50px;
  }

  .header__background__text__2nd {
    font-size: 1.5rem;
  }

  .header__background__text__3rd {
    font-size: 1rem;
  }
}

@media (max-width: 769px) {
  .img-icon-2 {
    height: 70px;
    width: 70px;
  }

  i {
    font-size: 1.5rem;
  }

  .btn {
    font-size: 1rem;
  }

  .news-bold {
    font-size: 1.25rem;
  }
}

@media (max-width: 640px) {
  .news-img {
    display: none;
  }

  .left-sided {
    margin-right: 0rem;
    margin-left: 5rem;
  }

  .iframe__youtube {
    height: 12rem;
  }

  .right-sided {
    margin-left: 0rem;
  }

  .left-sided {
    margin-left: 0rem;
  }

  .header__background__text {
    height: 50px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .header__background__text__1st {
    width: 10%;
  }

  .header__background__text__2nd {
    width: 90%;
  }

  .header__background__text__3rd {
    font-size: 0.6rem;
    text-align: right;
    width: 10%;
  }
}

@media (max-width: 540px) {
  .footer-info {
    font-size: 18px;
  }

  .footer-link {
    font-size: 24px;
  }

  .header__background__text__2nd {
    font-size: 1.1rem;
  }
}

@media (max-width: 460px) {
  .header {
    height: 40vh;
  }

  .header__background__img {
    background-size: cover;
  }

  .footer-info {
    font-size: 14px;
  }

  .footer-link {
    font-size: 24px;
  }
}

@media (max-width: 360px) {
  .header {
    height: 30vh;
  }

  .header__background__img {
    background-size: cover;
  }

  .header__background__text__2nd {
    font-size: 1rem;
  }

  .footer-info {
    font-size: 12px;
  }

  .footer-link {
    font-size: 24px;
  }
}

@media (max-width: 330px) {
  .header__background__text__2nd {
    font-size: 0.8rem;
  }
}
