.modal {
  display: none;
}

.modal.is-open {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 90%;
  width: 90%;
  background-color: var(--dark-grey);
  padding: 55px 60px 60px 55px;
  border-radius: 15px;
  z-index: 3;
  box-shadow: 10px 10px 15px var(--black);
  overflow-y: scroll;
}

.modal.is-open::-webkit-scrollbar {
  display: none;
}

.modal-close-relative {
  position: relative;
}

.works-icon {
  position: relative;
  height: 75px;
  width: 75px;
  margin: -30px 10px 20px auto;
  cursor: pointer;
  z-index: 1;
}

.close-button-modal {
  position: absolute;
  top: 40px;
  right: 10px;
  height: 30px;
  width: 30px;
  margin-left: auto;
  margin-right: 10px;
  background: url("./img/icons/close_button_wh.svg") no-repeat center;
  background-size: cover;
  cursor: pointer;
  z-index: 10;
}

.modal-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
}

.works-modal-0 {
  background: url("./img/works/modal/works-modal-0.png") center no-repeat;
  height: 400px;
  width: 250px;
  background-size: cover;
}

.works-modal-1 {
  background: url("./img/works/modal/works-modal-1.png") center no-repeat;
  height: 400px;
  width: 250px;
  background-size: cover;
}

.works-modal-2 {
  background: url("./img/works/modal/works-modal-2.png") center no-repeat;
  height: 400px;
  width: 250px;
  background-size: cover;
}

.works-modal-3 {
  background: url("./img/works/modal/works-modal-3.png") center no-repeat;
  height: 400px;
  width: 250px;
  background-size: cover;
}

.works-modal-4 {
  background: url("./img/works/modal/works-modal-4.png") center no-repeat;
  height: 400px;
  width: 250px;
  background-size: cover;
}

.works-modal-4-5 {
  background: url("./img/works/modal/works-modal-3.5.png") center no-repeat;
  height: 400px;
  width: 250px;
  background-size: cover;
}

.works-modal-5 {
  background: url("./img/works/modal/works-modal-5.png") center no-repeat;
  height: 400px;
  width: 250px;
  background-size: cover;
}

.works-modal-6 {
  background: url("./img/works/modal/works-modal-6.png") center no-repeat;
  height: 400px;
  width: 250px;
  background-size: cover;
}

.works-modal-7 {
  background: url("./img/works/modal/works-modal-7.png") center no-repeat;
  height: 400px;
  width: 250px;
  background-size: cover;
}

.works-modal-8 {
  background: url("./img/works/modal/works-modal-8.png") center no-repeat;
  height: 400px;
  width: 250px;
  background-size: cover;
}

.works-modal-9 {
  background: url("./img/works/modal/works-modal-1.png") center no-repeat;
  height: 400px;
  width: 250px;
  background-size: cover;
}

.works-modal-10 {
  background: url("./img/works/modal/works-modal-1.png") center no-repeat;
  height: 400px;
  width: 250px;
  background-size: cover;
}

@media (max-width: 1024px) {
  .works-icon {
    height: 50px;
    width: 50px;
  }
}

@media (max-width: 768px) {
  .works-icon {
    height: 40px;
    width: 40px;
  }

  .swiper {
    margin-bottom: 10px !important;
  }
}
